/* General CSS */

body {
    margin: 0px; 
}

h3 {
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none; 
}



/* Index Page CSS */

.indexBody {
    background-color: #000000;
}

.indexNavbarButton, .indexA {
    color: #000000;
}

.indexNavbarTriangle {
    border-bottom: solid #000000 10px;
}

.indexNavbar, .indexLogoDiv {
    border-bottom: solid #000000 2px;
}


/* About Me Page CSS */

.aboutMeBody {
    background-color: #8B2424;
}

.aboutMeNavbarButton, .aboutMeA {
    color: #8B2424;
}

.aboutMeNavbarTriangle {
    border-bottom: solid #8B2424 10px;
}

.aboutMeNavbar, .aboutMeLogoDiv {
    border-bottom: solid #8B2424 2px;
}



/* My Skills Page CSS */

.mySkillsBody {
    background-color: #A52A2A;
}

.mySkillsNavbarButton, .mySkillsA {
    color: #A52A2A;
}

.mySkillsNavbarTriangle {
    border-bottom: solid #A52A2A 10px;
}

.mySkillsNavbar, .mySkillsLogoDiv {
    border-bottom: solid #A52A2A 2px;
}



/* Contact Me Page CSS */

.contactMeBody {
    background-color: #B22D2D;
}

.contactMeNavbarButton, .contactMeA {
    color: #B22D2D;
}

.contactMeNavbarTriangle {
    border-bottom: solid #B22D2D 10px;
}

.contactMeNavbar, .contactMeLogoDiv {
    border-bottom: solid #B22D2D 2px;
}



/* Navbar CSS */

.logoDiv {
    width: 40%; 
    height: 50px; 
    background-color: white;
    position: fixed; 
    margin-top: -150px; 
    z-index: 2;
}

.navbar {
    width: 60%;
    height: 50px; 
    background-color: white;
    position: fixed; 
    margin-top: -150px; 
    z-index: 2; 
    margin-left: 40%;
}

.navbarButtonWrapper {
    width: 50%;
}

.navbarButton {
    width: 25%;
    height: 100%; 
    background-color: white;
    float: left;
}

.navbarTriangle {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: auto;
    margin-right: auto; 
    margin-top: -18px; 
}



/* Bubbles CSS */

.bubbleWrapper {
    display: flex;
    flex-flow: row; 
    margin-top: 150px; 
    position: relative; 
    z-index: 1; 
}

.flexWrapper {
    flex: 1; 
}

.aboutMe, .mySkills, .contactMe {
    height: 300px;
    width: 300px; 
    background-color: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto; 
}

@media screen and (max-width: 1000px) {
    .bubbleWrapper {
        flex-flow: column;
    }
    .mySkills {
        margin-top: 100px;
        margin-bottom: 100px; 
    }
    .contactMe {
        margin-bottom: 100px; 
    }
}